{% extends "base.html" %} {% block title %}Diet-Cal{% endblock %} {% block
  content %}
  <form method="POST">
    <h3 align="center">Enter Your Details</h3>
    <div class="form-group">
      <label for="firstName1">Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName1"
        name="firstName1"
        placeholder="Enter your name."
      />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="age"
        class="form-control"
        id="age"
        name="age"
        placeholder="Enter your age."
      />
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input
        type="gender"
        class="form-control"
        id="gender"
        name="gender"
        placeholder="Type (m)-male or (f)-female."
      />
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input
        type="height"
        class="form-control"
        id="height"
        name="height"
        placeholder="Enter your height in centimeters (cm)."
      />
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input
        type="weight"
        class="form-control"
        id="weight"
        name="weight"
        placeholder="Enter your weight in kilograms (kg)."
      />
      </div>
    <div class="form-group">
      <label for="activity">Your activity level:<br>
          <br>1 - Sedentary (Little exercise, desk job)
          <br>2 - Lightly active (Light exercise, sports 1-3 days/week)
          <br>3 - Moderately active (Moderate exercise, sports 3-5 days/week)
          <br>4 - Very active (Hard exercise, sports 6-7 days/week)
          <br>5 - Extra active (Hard daily exercise, sports and physical labor job or 2 times training per day)</label>
      <input
        type="activity"
        class="form-control"
        id="activity"
        name="activity"
        placeholder="Type the number from the above listed options."
      />
    </div>
    <div class="form-group">
      <label for="goal">Your weight goal after a week</label>
      <input
        type="goal"
        class="form-control"
        id="goal"
        name="goal"
        placeholder="It is better to gain/lose max. of 1 kg for healthy results.."
      />
      </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}
